<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/stylesContact.css" />
</head>
<body>
    <div class="formulaire">
        <form action="#">
      
          <label for="Nom">Nom</label>
          <input type="text" id="Nom" name="Nom" placeholder="Nom..">
      
          <label for="Prenom">Prenom</label>
          <input type="text" id="Prenom" name="Prenom" placeholder="Prenom..">
      
          <label for="Pays">Pays</label>
          <select id="Pays" name="Pays">

            <option value="Allemagne">Allemagne</option>
            <option value="Autriche">Autriche</option>
            <option value="Belgique">Belgique</option>
            <option value="Bulgarie">Bulgarie</option>
            <option value="Chypre">Chypre</option>
            <option value="Croatie">Croatie</option>
            <option value="Danemark">Danemark</option>
            <option value="Espagne">Espagne</option>
            <option value="Estonie">Estonie</option>
            <option value="Finlande">Finlande</option>
            <option value="France">France</option>
            <option value="Grèce">Grèce</option>
            <option value="Hongrie">Hongrie</option>
            <option value="Irlande">Irlande</option>
            <option value="Italie">Italie</option>
            <option value="Lettonie">Lettonie</option>
            <option value="Lituanie">Lituanie</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Malte">Malte</option>
            <option value="Pays-Bas">Pays-Bas</option>
            <option value="Pologne">Pologne</option>
            <option value="Portugal">Portugal</option>
            <option value="République tchèque">République tchèque</option>
            <option value="Roumanie">Roumanie</option>
            <option value="Slovaquie">Slovaquie</option>
            <option value="Slovénie">Slovénie</option>
            <option value="Suède">Suède</option>
          </select>
      
          <label for="Note">Note</label>
          <textarea id="Note" name="Note" placeholder="Exemple.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
      
        </form>
      </div>    
</body>
</html>