:root {
    --mainPadding: 1em;
    --transparentBlack: #00000022;
    --gradient: linear-gradient(to bottom right, #FCE38A, #F38181);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Archimede'
}

a {
    text-decoration: none;
    color: #f38181;
}

a:hover {
    color: #982d04;
}

nav {
    background-color: white;
    border-bottom: 2px solid var(--transparentBlack);
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    box-shadow: 0 0 10px var(--transparentBlack);
    overflow: hidden;
}
nav ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
}

nav ul li {
    margin: auto;
}

#logo{
    width: 100px;
    position: relative;
    justify-self: flex-end;
    animation: rotate 15s infinite;

}

.disabled {
    color: grey !important;
    pointer-events: none;
}

header {
    height: 40vh;
    background: var(--gradient);
    display: flex;
}

header div {
    margin: auto;
    text-align: center;
}

header h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 5em;
    color: #FCE38A;
    text-shadow: 5px 5px 0px var(--transparentBlack)
}

header h2 {
    color: white;
    font-family: 'Smallest Pixel-7';
}

main {
    padding: var(--mainPadding);
    flex-grow: 1;
    display: flex;
    background:#ccc;
}

section {
    max-width: 1800px;
    margin: auto;
}

/* PRODUITS */

.product-container {
    display: grid;
    grid-gap: var(--mainPadding);
}

.card {
    background: #FFF;
    box-shadow: 0 0 10px #00000022;
    display: flex;
    flex-direction: column;
}

.product-01 {
    background: url('../img/nettoyeur-pieds.jpg') center;
}

.product-02 {
    background: url('../img/golf-toilettes.jpg') center;
}

.product-03 {
    background: url('../img/brosse-toilettes.png') center;
}

.product-04 {
    background: url('../img/nettoyeur-sol.jpg') center;
}

.product-05 {
    background: url('../img/clef-usb.jpg') center;
}

.product-06 {
    background: url('../img/sablier.jpg') center;
}

.card-image {
    background-size: cover;
    height: 15vh;
    border-bottom: 2px solid var(--transparentBlack);
}

.card h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.card-description {
    padding: var(--mainPadding);
    flex-grow: 1;
}

.card-footer {
    background: #FCE38A;
    padding: var(--mainPadding);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.prix {
    margin: auto 0;
    display: flex;
    width: 100%;
}

.promo {
    color: red;
    font-size: 3em;
    animation: rotate 1s linear infinite;
    margin: auto;
}

.promo:hover {
    animation-duration: 0.1s
}

.add:hover {
    animation: scale 5s forwards;
}

/* CONTACT */

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical ;
}
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical ;
}

button {
    background-color: #00472d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    animation: spamton 0.5s steps(2) infinite

}

button[type=submit]:hover {
    background-color: #00f60c;
    color: black;
}

.formulaire {
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    height: 20vh;
    background: #FFF;
    display: flex;
}

footer div {
    margin: auto;
}

footer ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    margin: auto;
}

/* RESPONSIVE */

@media (min-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .formulaire {
        max-width: 50%;
    }
    nav {
        position: sticky;
    }
}

@media (min-width: 992px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .product-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ANIMATIONS */

@keyframes spamton {
    from {
        background-color: #00472d
    }
    to {
        background-color: #00f60c;
    }
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(5);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}