* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

nav {
    /* Votre code ici */
    background-color: peru;
    border: solid black;
    position: sticky;
    top: 0;
    min-height: 50px;
    
    
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 30%;
}
#logo{
    width: 15%;
    height: 15%;
    position: relative;
    left: 40%;
    
}
header {
    height: 40vh;
    background: url("URL") lightblue;
    display: flex;
}

header div {
    margin: auto;
}

main {
    padding: 5em;
    flex-grow: 1;
}

footer {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    background: lightcoral;
}

footer ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    margin: auto;
}