* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    /* Votre code ici */
}

header {
    height: 40vh;
    background: url("URL") lightblue;
    display: flex;
}

header div {
    margin: auto;
}

main {
    padding: 5em;
    flex-grow: 1;
}

footer {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    background: lightcoral;
}

footer ul {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    list-style: none;
    margin: auto;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
}

input[type=submit] {
    background-color: #00472d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  
input[type=submit]:hover {
    background-color: #00f60c;
    color: black;
}

.formulaire {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.mail{
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-top: 7px;
}